{% extends "base.html" %}
{% load static %}

{% block body %}
<h1 class="display-3 text-primary">Mohd Omama</h1>
<hr>

<p class="text-muted text-monospace" style="text-align:justify; text-justify:inter-word;">
    I am a Computer Engineering graduate from Aligarh Muslim University trying to figure out my place in the world.
    Since I am into programming, you can safely assume I spend most of my time copying code from stack-overflow and then
    trying to figure out what went wrong.
    <br>
    Apart from that, I am an avid reader and mostly spend my free time reading about psychology, life, history, and
    poetry. I have a special place in my heart for Urdu poets and I absolutely adore their works. Here is a nugget for
    you to feast upon:
    <br>
    <blockquote class="blockquote text-muted text-monospace" style="font-size:17px">
        Kiya Mein Ne Uss Khakdan Se Kinara<br>
        Jahan Rizq Ka naam Hai Aab-o-Dana<br>
        Bayaban Ki Khalwat Khush Ati Hai Mujh Ko<br>
        Azal Se Hai Fitrat Meri Rahbana<br>

        <br>
        (I have turned away from that place on earth<br>
        Where sustenance takes the form of grain and water.<br>
        The solitude of the wilderness pleases me<br>
        By nature I was always a dervish.)<br>
        <br>
        --- Allama Iqbal
    </blockquote>
</p>

{% endblock %}

{% block rightcol %}
{% endblock %}