{% extends "base.html" %}
{% load static %}

{% block leftcol %}
<div class="text-center">
    <h1 class="text-primary"> The Padfoot7 Blog</h1>
</div>
<p class="text-muted" style="font-size:20px; text-align:justify; text-justify:inter-word;">
    I mostly write about code, psychology, poetry, and other random stuff. I use medium as my primary blogging platform.
    This is an aggregator for my medium RSS feed.
</p>
{% endblock %}


{% block body %}

{% for entry in entries %}
{% include 'components/blog_card.html' with entry=entry %}
{% endfor %}


{% endblock %}

{% block rightcol %}
{% endblock %}