<div class="col mb-4">
    <!-- Card -->
    <div class="card h-100 .ml-3">

        <!-- Card content -->
        <div class="card-body  rounded-bottom">

            <!-- Title -->
            <h3 class="card-title">{{ entry.title }}</h3>
            <hr class="bg-primary">
            <!-- Publish Date -->
            <div class="text-muted">
                {{ entry.published  }}
            </div>

            <a href="{{ entry.link }}" class="primary-text d-flex justify-content-end" target="_blank">
                <h5>Read<i class="fas fa-angle-double-right"></i></h5>
            </a>

        </div>

    </div>
    <!-- Card -->
</div>