<br>
<p class="font-weight-light" style="font-size:24px">>>> import this</p>
<blockquote class="blockquote">
    <ul class="text-monospace text-muted" style="font-size:18px">
        <li>Beautiful is better than ugly.</li>
        <li>Explicit is better than implicit.</li>
        <li>Simple is better than complex.</li>
        <li>Complex is better than complicated.</li>
        <li>Flat is better than nested.</li>
        <li>Sparse is better than dense.</li>
        <li>Readability counts.</li>
        <li>Although practicality beats purity.</li>
        <li>Errors should never pass silently.</li>
        <li>Unless explicitly silenced.</li>
        <li>In the face of ambiguity, refuse the temptation to guess.</li>
        <li>Now is better than never.</li>
        <li>Although never is often better than *right* now.</li>
        <li>If the implementation is hard to explain, it's a bad idea.</li>
    </ul>
    <footer class="blockquote-footer mb-3">The Zen of Python, by <cite title="Source Title">Tim
            Peters</cite></footer>
</blockquote>